{% extends "base.html" %}
{% block title %}Create Manga{% endblock %}
{% block content %}

<h1>Create Manga</h1>

<form>
    <div class="mb-3">
      <label for="exampleInputManga_Name" class="form-label">Manga Name</label>
      <input type="" class="form-control" id="exampleInputManga_Name" aria-describedby="Help">
    </div>
    <div class="mb-3">
        <label for="exampleInputPrice1" class="form-label">Price</label>
        <input type="" class="form-control" id="exampleInputPrice1" aria-describedby="PriceHelp">
      </div>
      <div class="mb-3">
      </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}